.articleControl {
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin: 5px 0;
}

.articleControl label {
    width: 100px;
    font-weight: bold;
}

.articleControl button {
    width: 100px;
    height: 40px;
    margin: 0 5px;

}

.add {
    background-color: rgb(144, 58, 58);
    color: white;
    border-style: none;
}
.add:hover{
    background-color: rgb(51, 47, 47);

}
.remove {
    background-color: rgb(141, 92, 92);
    border-style: none;
    color: black;
}
.remove:hover {
    background-color: rgb(182, 161, 161);
}
.remove:disabled {
    color: rgb(93, 83, 83);
}

@media (max-width: 500px) {

    .articleControl {
        display: flex;
        justify-content: space-between;
        width: 200px;
        margin: 3px 0;
    }
    
    .articleControl label {
        width: 60px;
        font-size: small;
    }
    
    .articleControl button {
        width: 60px;
        height: 30px;
        margin: 0 3px;
        font-size: small;
        padding: 1px;
    
    }
}