.BuffetBuilder {
    background-color: rgb(165, 107, 107);
    width: 100%;
    height: 400px;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-flow: column;
    align-items: center;
}


.OrderButton {
    background-color: #a94b15;
    outline: none;
    cursor: pointer;
    border: 1px solid #a94b15;
    color: black;
    font-family: inherit;
    font-size: 1.1em;
    padding: 10px 20px;
    box-shadow: 2px 2px 2px #a94b15;
    margin: 10px;
}

.OrderButton:hover, .OrderButton:active {
    background-color: #A0DB41;
    border: 1px solid #966909;
    color: black;
}

.OrderButton:disabled {
    background-color: rosybrown;
    cursor: not-allowed;
    border: 1px solid #ccc;
    color: #5a5454;
}

.OrderButton:not(:disabled) {
    animation: enable 0.3s linear;
}

@keyframes enable {
    0% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@media (max-width: 500px) {
    .BuffetBuilder {
        height: 300px;
    }
    .OrderButton {
        font-size: 1em;
    }
    
}